
#mostrar{
	display: none;
}



header {
  background: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 75px;
    
}

h1{
	font-size: 1.5em;
	
	
}

h3{
	color: black;
	font-size: 20px;
	text-align: center;

}


.preguntas button {
	border: none;
	background-color: white;
	
}

/* BARRA NAVEGACIÓN */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  box-shadow: 1px 1px 5px black;
  padding: 10px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}




.toggle-menu {
  display: none; /* Ocultar en pantallas grandes */
  font-size: 30px;
  width: 10vw;
  cursor: pointer;
  padding: 5px;
  background: rgba(0, 0, 0, 0.783);
  color: white;
  border: none;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  
  display: flex;
}

.menu li {
  margin-left: 20px;
  
}



.menu li:hover{
  
	
	
	
	cursor: pointer;
	
	
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 2.5vh;
  margin-left: .6vh;
  margin-right: .6vh;
  padding: .8vh  .8vh .8vh .8vh;
}

.menu a:hover {
  background-color: white;
  color: #8f0513;
  border-radius: 2px;
  padding: .8vh  .8vh .8vh .8vh;
  
  
  transition: .2s;
 
}








/*----------------- ESTILOS PAGINA DE CONTACTO ------------------*/


.encabezadocontacto{
	width: 100%; 
	margin-top: 90px;
	
}

.imagencontacto{
	width: 100%; 
	height: 30%;
	display: contents;
}

.imagenencabezado{
	width: 100%;
}


.textoencabezado{
	position: absolute; 
	top: 30%; 
	left: 80%; 
	transform: translate(-50%, -50%);
	;
	background-color: #00000088;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.textoencabezado h1{
	
	color: white;
	font-size: 3em;
	text-align: left;
}

.textoencabezado h2{
	color: white;
	font-size: 2em;
	text-align: left;
}


button .botonimostrar{

	padding-right: 30px; 
	width: 10%; 
	margin: auto;
	text-align: right;

}


.imostrar1{
	margin: auto;
	margin-top: 10px; 
	background-color: rgb(34, 1, 1); 
	display: flex;
	width: 80%;
box-shadow: 2px 2px 5px black;


}




.imostrar1:hover{
	cursor: pointer;
	margin: auto;
	margin-top: 10px; 
	background-color: rgb(34, 1, 1);
	box-shadow: 2px 2px 10px black;
	display: flex;
	width: 85%;

}

.imostrar2{
	background-color: white; 
	width: 100%; 
	height: 60%; 
	border-radius: 8px; 
	

}

.imostrar2:hover{
	cursor: pointer;
	background-color: white; 
	width: 100%; 
	height: 60%; 
	border-radius: 8px; 

}

.contenido{
	display: flex;
	flex-direction: space-between;
	flex: 1;
	
	
}

.bloque1{
	border: 1px solid lightgray;
	margin: 15px;
	padding: 20px;
	flex: 1;
	box-shadow: 5px 5px rgba(255, 255, 255, 0.857); /* (rojo, verde, azul, opacidad)*/
	border-radius: 8px;
}


.preguntas{
		
	color: black;
	background: linear-gradient(to bottom, #ffffff 0%,#e8e8e8 100%);
	width: 80%;
	font-size: 1.2em;
	border: 6px solid gray;
	border-radius: 12px;
	padding: 5px;
	margin: auto;
	margin-bottom: 2px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s;
}

.preguntas:hover{
	cursor: pointer;
	background-color: rgba(106, 100, 100, 0.387);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transform: scale(1.02);
	transition: all 0.3s;
	
}

.btnpregunta{
	background-color: white;
	width: 100%;
	border: none;
	display: flex;
	
	
}



.respuesta{
	width: 80%; 
	
	color: rgb(255, 0, 0);  
	font-size: 1.2em;	
	padding: 5px;
	margin: auto;
	border-radius: 6px;
	flex: 3;
	display: none;
	margin-bottom: 10px;
	box-shadow: 2px 2px rgba(228, 9, 9, 0.857); /* (rojo, verde, azul, opacidad)*/
	
	
	
}

/* ------------ Caja de comentarios --------------------------*/



.comentarios-container {
    width: 60%;
    margin: auto;
	border-radius: 18px;
	text-align: center;
	border: 4px solid #242934;
	margin-bottom: 40px;
}

.comentarios-container h2 {
	text-align: center;
	margin-bottom: 20px;
	
}

.comentarios-container textarea {
	
	display: block;
	margin: auto;
	width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #342424;
    border-radius: 5px;
    margin-bottom: 20px;
}

.comentarios-container textarea:focus {
	
	background-color: #0b3045;
	color: white;
	padding-top: 2px;
	display: block;
	border-color: #531d09;
	outline: none;
	width: 80%;
	padding: 10px;
	transition: 1s;
	margin-bottom: 20px;
}

.comentarios-container textarea:focus::placeholder {
	color: #ffffff;
	font-style: italic;
}


.comentarios-container input[type="text"] {
	
	display: block;
	margin: auto;
	width: 40%;
	margin-bottom: 20px;
	border: 4px solid #342424;
	border-radius: 5px;
	
}

.comentarios-container input[type="text"]:focus {
	
	display: block;
	width: 80%;
	background-color: #0b3045;
	border: 4px solid rgb(164, 164, 164);
	color: white;
	transition: 1s;
}

.comentarios-container input[type="text"]:focus::placeholder {
	color: #ffffff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.btncomentario{
	
font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #2d1f1f 0%,#5a5252 100%);
  color: white;
  padding: 0.8em 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  
  
  margin: auto;
  margin-bottom: 30px;
  
	


}

.btncomentario:hover{
	cursor: pointer;
	
	transition: 2s;
 transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  
  
}


.comentario {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
	margin-bottom: 30px;
	text-align: left;
	padding-left: 5%;
}
.nombre {
	font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #007bff;
}


 .enviarcomentario {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}


/*----------------- Caja sugerencias ------------------*/
.cajasugerencias{
	width: 100%; 
	display: flex;  
	padding-top: 30px;
	border-radius: 12px;
	
	flex-direction: column;
}



.cajadecampos{

	margin: auto;
	width: 80%; 
	box-sizing: border-box; 
	padding: 4px; 
	
	text-align: center;
}


label[for="cliente"]{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
	
}


.cajadecampos input[name="cliente"]{
	
	width: 30%;
	transition: 1s;
	margin-top: 10px;
}


.cajadecampos input[name="cliente"]:focus{
	background-color: rgb(20, 13, 2);
	width: 60%;
	color: white;
	transition: 1s;
}


.cajadecampos input[name="cliente"]:focus::placeholder{
	color: white;
}





label[for="sugerencia"]{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
	
	
}

.cajadecampos textarea[name="sugerencia"]{
margin-top: 8px;
	border: 2px solid black;
	border-radius: 5px;
	width: 40%; 
	height: auto;
	transition: all 1s;
	
}

.cajadecampos textarea[name="sugerencia"]:focus{
	width: 60%; 
	color: white;
	transition: all 1s;
	height: auto;
	background-color: rgb(20, 13, 2);
}



.cajadecampos textarea[name="sugerencia"]:focus::placeholder{
	color: white;
}


.btnsugerencia{

	color: black;
	
	border-radius: 8px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	width: 30%;
	margin-bottom: 20px;
	transition: all .8s;

}

.btnsugerencia:hover{

	color: white;
	transform: scale3d(1.1, 1.1, 1.1);
	background-color: rgb(20, 13, 2);
	border-radius: 8px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	width: 30%;
	margin-bottom: 20px;

}



/* ESTILOS PARA GALERIA */
.contenedorgaleria {
	display: flex;
  background-color: #ffffff2a;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  margin: auto;
  width: 80%;
}

.galeria{
	display: flex;
	
	
	
	margin: 10px;
	
}

.galeria1{
	display: flex;
	width: 100%;
	flex-direction: column;
	
	
}

.img-container {
  
  margin-right: 10%;
  
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
 
  margin: 10px;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s ease;
}


.img-container:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.img-container video {
	cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  margin: 10px;
}

.img-container:hover video {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}




/*ESTILOS DE SERVICIOS PAGINA PRINCIPAL*/


.sobrenosotros h2{
	 font-size: 1.5em;
	 font-family: Boldonse, system-ui; 
	 color: rgb(142, 54, 57); 
	 text-align: center; 
	 padding-top: 20px; 
	 padding-bottom: 20px; 
	 background-color: white;
	 
}

.tablaobjetivo{
	
	margin: auto; 
	width: 60%; 
	background-color: white;
	
	
}

.descripcion{
text-align:center; 
font-family: system-ui;

}


.descripcion h2{
	font-size: 3.5vh; 
	color: rgb(142, 54, 57);
}

.descripcion p{
	color: black;
	margin-inline: 20px;
	font-size: 2.7vh;
}

.cajaimagencontenido{
	
	background-color: violet;
	
}

.imagenobjetivo{
	
	max-width: 80%; 
	max-height: 80%; 
	display: run-in; 
	margin: 20px;
	box-shadow: 2px 2px 5px black;

}

.servicios{
	margin: auto;
	margin-top: 10px; 
	background-color: rgb(34, 1, 1); 
	display: flex;
	width: 80%;
	
}

.tablaservicios{

	margin: auto; 
	margin-top: 20px; 
	
	
	display: none;
	width: 60%;
	border-radius: 8px;
	
	
}





.filacontenido{
		display: flex;
		
		
		
		
	}



.columnacontenido{
	
	display:flex; 
	flex-wrap: nowrap;
	
	margin: auto; 
	background-color: rgba(34, 1, 1, 0.181); 
	padding: 1%;
	width: 60%;
}

.columnacontenido:hover{
	
	display: flex;
	color: white;
	box-shadow: 2px 2px 2000px rgb(255, 255, 255); 
	
	background-color: rgb(34, 1, 1); 
	transform: scale3d(1.5, 1.5, 1.5);
	border-radius: 8px;
	transition: .8s;
	
}


.cajacontenido{
	display: flex;
	margin: auto;
	
	border: none;
	border-right: 4px solid white;
	padding: 1%;
	padding-right: 6%;
	border-radius: 0px; 
	
		
	}



.cajacontenido ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: left;
		font-size: 1.4vh;
	}


.cajaimagen{
	margin: auto;
	display: flex;	
	text-align:center;  
	 border: none;
	 padding-left: 3%;
	 padding-right: 3%;
	 flex-direction: wrap;
	 
}

.imgtservicios{
	display: flex;
	margin: auto;
	margin-right: 2%;
	
	box-shadow: 2px 2px 0.9px black; 
	border-radius:8px;
	width: 150px;
	height: 150px;
	
}

.imgtservicios:hover{
	display: flex;
	cursor: auto;
	border-radius:8px;
	transform: perspective(100px) rotateY(10deg);
	
	transition: .8s;
	

}

.imgtservicios2{
	display: flex;
	margin: auto;
	margin-right: 2%;
	
	box-shadow: 2px 2px 0.9px black; 
	border-radius:8px;
	width: 150px;
	height: 150px;
	
}

.imgtservicios2:hover{
	display: flex;
	cursor: auto;
	border-radius:8px;
	transform: perspective(100px) rotateY(-10deg);
	transition: .8s;
	

}



/*-----------OTRA COSA------------------*/

.preguntas h3{
	color: black;
}

.tex{
	margin-right: 50px;
}

/*
.imagen{
	width: 400px;
	height: 300px;
} */




/*----------------- FORMULARIO --------------*/

.encabezadoagenda{
	margin-top: 95px;
	margin-bottom: 100px; 
	color: white; 
	padding-top: 20vh; 
	padding-bottom: 20vh; 
	background-image: url(imagenestaller/descarcaagenda.jpeg); 
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
	
	
}

.tituloagenda{
text-align: center;
background-color: rgba(255, 255, 255, 0.127);
margin: 2%;
padding: 2%;
box-shadow: 2px 2px 5px black;
border-radius: 3px;

}

.tituloagenda h1{
font-size: 2em;
text-align: center; 
font-family: Boldonse, system-ui;
}

label[for="cliente"- "numero"-"fecha"-"correo"-"servicios"-"servicio1"-"servicio2"-"servicio3"]{
	color: black;
	font-size: 2em;
}

input[type="text"]{
	width: 90%;
	border-radius: 3px;
	text-align: center;
	border: 2px solid black;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
	
}

input[type="tel"]{
	width: 90%;
	border-radius: 3px;
	text-align: center;
	border: 2px solid black;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
	
}

input[type="email"]{
	width: 90%;
	border-radius: 3px;
	text-align: center;
	border: 2px solid black;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
	
}

input[type="datetime-local"]{
	width: 90%;
	border-radius: 3px;
	text-align: center;
	border: 2px solid black;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
	
}

input[type="file"]{
	width: 90%;
	border-radius: 3px;
	text-align: center;
	border: 2px solid black;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;

}

.btnagendar {
   
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #e78282 0%,#f43939 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  margin: 5px;
}

.btnagendar:hover {
    cursor: pointer;
 transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}


 
/* -------Responsive Design MIN 1300px-------------------*/

@media(min-width:1100px){

/* PAGINA DE CONTACTO */
.encabezadocontacto{
	width: 100%; 
	
	margin-top: 90px;
}

.imagencontacto{
	width: 100%; 
	
}

.imagenencabezado{
	width: 100%;
	height: 600px;
	
}


.textoencabezado{
	position: absolute; 
	top: 50%; 
	left: 80%; 
	transform: translate(-50%, -50%);
	background-color: #00000088;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textoencabezado h1{
	
	color: white;
	font-size: 4vh;
	text-align: left;
}

}









/* -------Responsive Design 1300px-------------------*/
@media(max-width:1300px){

/* CAJAS DE SERVICIOS */


	.tablaservicios{

	margin: auto; 
	margin-top: 20px; 
	
	
	display: none;
	width: 80%;
	border-radius: 8px;
	
	
}

	.columnacontenido{
		display:flex; 
		
		flex-direction: wrap;
		margin: auto; 
		background-color: rgba(34, 1, 1, 0.181); 
		padding: 1%;
		width: 60%;
}

.columnacontenido:hover{
	
	display: flex;
	color: white;
	box-shadow: 2px 2px 2000px rgb(255, 255, 255); 
	cursor: text;
	background-color: rgb(34, 1, 1); 
	transform: scale3d(1.2, 1.2, 1.2);
	
	transition: .8s;
	
}


	.cajacontenido{
		display: flex;
		margin: auto;
		padding-right: 5%;
		border: none;
		
		border-right: 4px solid black;
		padding: 1%;
		border-radius: 0px; 
	
		
	}

	.cajacontenido ul{
		
		padding: 0;
		margin: 0;
		text-align: left;
		font-size: 1vh;
	}




.cajaimagen{
	margin: auto;
	display: flex;	
	text-align:center;  
	 border: none;
	 padding-left: 3%;
	 padding-right: 3%;
}

	.imgtservicios{
		margin: auto;
		box-shadow: 2px 2px 0.9px black; 
		margin-top: 5%;
		margin-bottom: 5%;
		margin-right: 5%;
		border-radius:8px;
		width: 100px;
		height: 100px;
		
}

.imgtservicios:hover{
	display: flex;
	cursor: pointer;
	box-shadow: 2px 2px 10px black; 
	border-radius:8px;
	width: 100px;
	height: 100px;
	transition: .8s;

}


.imgtservicios2{
	display: flex;
	margin: auto;
	margin-right: 2%;
	
	box-shadow: 2px 2px 0.9px black; 
	border-radius:8px;
	width: 100px;
	height: 100px;
	
}

.imgtservicios2:hover{
	display: flex;
	cursor: auto;
	border-radius:8px;
	transform: perspective(100px) rotateY(-10deg);
	transition: .8s;
	

}


/*-----PAGINA CONTENIDO--------*/







.comentarios-container {
    width: 60%;
    margin: auto;
	
	text-align: center;
	border: 4px solid #242934;
	margin-bottom: 40px;
}

.comentarios-container h2 {
	text-align: center;
	margin-bottom: 20px;
	
}

.comentarios-container textarea {
	
	display: block;
	margin: auto;
	width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #342424;
    border-radius: 5px;
    margin-bottom: 20px;
}

.comentarios-container textarea:focus {
	
	background-color: #0b3045;
	color: white;
	padding-top: 2px;
	display: block;
	border-color: #531d09;
	outline: none;
	width: 80%;
	padding: 10px;
	transition: 1s;
	margin-bottom: 20px;
}

.comentarios-container textarea:focus::placeholder {
	color: #ffffff;
	font-style: italic;
}


.comentarios-container input[type="text"] {
	
	display: block;
	margin: auto;
	width: 40%;
	margin-bottom: 20px;
	border: 4px solid #342424;
	border-radius: 5px;
	
}

.comentarios-container input[type="text"]:focus {
	
	display: block;
	width: 80%;
	background-color: #0b3045;
	border: 4px solid rgb(164, 164, 164);
	color: white;
	transition: 1s;
}

.comentarios-container input[type="text"]:focus::placeholder {
	color: #ffffff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.btncomentario{
	
font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #2d1f1f 0%,#5a5252 100%);
  color: white;
  padding: 0.8em 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  
  
  margin: auto;
  margin-bottom: 30px;
  
	


}

.btncomentario:hover{
	cursor: pointer;
	
	transition: 2s;
 transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  
  
}


.comentario {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
	margin-bottom: 30px;
	text-align: left;
	padding-left: 5%;
}
.nombre {
	font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #007bff;
}


 .enviarcomentario {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}



}




/* Responsive Design 800px*/
@media(max-width:850px){
	
	.toggle-menu {
    display: block; /* Mostrar en pantallas pequeñas */
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.783);
    padding: 10px;
    z-index: 1;
  }

  .menu li {
    margin: 10px 0;
    margin-left: 0;
    text-align: center;
  }

  .menu a {
    display: block; /* Hacer que cada enlace ocupe todo el ancho */
    padding: 1vh;
  }

  .menu a:hover {
	background-color: white;
  color: #8f0513;
  border-radius: 2px;
  padding: 1vh;
  margin-left: .5vh;
  font-size: 2.8vh;
  transition: .2s;
  }

  /* Mostrar menú al hacer clic en el botón */
  .menu.show {
    display: flex;
  }

/*----------------------------------*/






	h3{
		font-size: 20px;
	}

	.contenido{
		flex-direction: column;
		align-items: center;
	}

/* CAJAS DE SERVICIOS principal */


	.tablaservicios{

	margin: auto; 
	margin-top: 20px; 
	
	
	display: none;
	width: 90%;
	border-radius: 8px;
	
	
}

	.columnacontenido{
		display:flex; 
		
		flex-direction: column;
		margin: auto; 
		background-color: rgba(34, 1, 1, 0.181); 
		padding: 1%;
		width: 60%;
}

.columnacontenido:hover{
	
	display: flex;
	color: white;
	box-shadow: 2px 2px 2000px rgb(255, 255, 255); 
	cursor: text;
	background-color: rgb(34, 1, 1); 
	transform: scale3d(1.2, 1.2, 1.2);
	
	transition: .8s;
	
}


	.cajacontenido{
		display: flex;
		width: 80%;
		margin: auto;
		
		padding-right: 5%;
		border: none;
		border-right: none;
		border-bottom: 4px solid rgb(61, 39, 4);
		padding: 1%;
		border-radius: 0px; 
	
		
	}



	.cajacontenido ul{
		
		padding: 0;
		margin: 0;
		text-align: left;
		font-size: .8vh;
	}




.cajaimagen{
	margin: auto;
	display: flex;	
	text-align:center; 
	flex-direction: column;
	 border: none;
	
	 padding-right: 3%;
}

	.imgtservicios{
		margin: auto;
		box-shadow: 2px 2px 0.9px black; 
		margin-top: 5%;
		margin-bottom: 5%;
		border-radius:8px;
		width: 100px;
		height: 100px;
		
}

.imgtservicios:hover{
	display: flex;
	cursor: pointer;
	box-shadow: 2px 2px 10px black; 
	border-radius:8px;
	width: 100px;
	height: 100px;
	transition: .8s;

}


.imgtservicios2{
	display: flex;
	margin: auto;
	margin-right: 2%;
	
	box-shadow: 2px 2px 0.9px black; 
	border-radius:8px;
	width: 100px;
	height: 100px;
	
}

.imgtservicios2:hover{
	display: flex;
	cursor: auto;
	border-radius:8px;
	transform: perspective(100px) rotateY(-10deg);
	transition: .8s;
	

}

/* PAGINA DE CONTACTO */

.textoencabezado{
	position: absolute; 
	top: 20%; 
	left: 80%; 
	transform: translate(-50%, -50%);
}

.textoencabezado h1{
	color: white;
	font-size: 2vh;
	text-align: left;
}

.textoencabezado h2{
	color: white;
	font-size: 1vh;
	text-align: left;
}


.comentarios-container {
    width: 60%;
    margin: auto;
	
	text-align: center;
	border: 4px solid #242934;
	margin-bottom: 40px;
}

.comentarios-container h2 {
	text-align: center;
	margin-bottom: 20px;
	
}

.comentarios-container textarea {
	
	display: block;
	margin: auto;
	width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #342424;
    border-radius: 5px;
    margin-bottom: 20px;
}

.comentarios-container textarea:focus {
	
	background-color: #0b3045;
	color: white;
	padding-top: 2px;
	display: block;
	border-color: #531d09;
	outline: none;
	width: 80%;
	padding: 10px;
	transition: 1s;
	margin-bottom: 20px;
}

.comentarios-container textarea:focus::placeholder {
	color: #ffffff;
	font-style: italic;
}


.comentarios-container input[type="text"] {
	
	display: block;
	margin: auto;
	width: 40%;
	margin-bottom: 20px;
	border: 4px solid #342424;
	border-radius: 5px;
	
}

.comentarios-container input[type="text"]:focus {
	
	display: block;
	width: 80%;
	background-color: #0b3045;
	border: 4px solid rgb(164, 164, 164);
	color: white;
	transition: 1s;
}

.comentarios-container input[type="text"]:focus::placeholder {
	color: #ffffff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.btncomentario{
	
font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #2d1f1f 0%,#5a5252 100%);
  color: white;
  padding: 0.8em 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  
  
  margin: auto;
  margin-bottom: 30px;
  
	


}

.btncomentario:hover{
	cursor: pointer;
	
	transition: 2s;
 transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  
  
}


.comentario {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
	margin-bottom: 30px;
	text-align: left;
	padding-left: 5%;
}
.nombre {
	font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #007bff;
}


 .enviarcomentario {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}


/*PAGINA DE AGENDA*/

.tituloagenda{
	padding: 5%;
}

.tituloagenda h1{
font-size: 1em;
text-align: center; 
font-family: Boldonse, system-ui;
}

.tituloagenda h2{
font-size: .8em;
text-align: center; 
font-family: Boldonse, system-ui;
}

}



	
 










